<ion-header class="ion-no-border">
  <ion-toolbar color="ion-background-color">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    <ion-label position="fixed">
      ¿Con cuánto presupuesto<br> cuentas para este viaje?
    </ion-label>
</div>

<div class="input">
  <ion-input type="number" placeholder="$"></ion-input>
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/gustos"> 
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
