<ion-header class="ion-no-border">
  <ion-toolbar color="ion-background-color">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto">
    <ion-label position="fixed">
      ¿Qué tipo de cosas te<br> gustaría encontrar?
    </ion-label>
</div>

<div class="options">
  
  <ion-chip color="warning">
    <ion-label>Playa 🏝</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-label>Bicicletas 🚲</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Nieve ❄</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Templos ⛩</ion-label>
  </ion-chip>

  <ion-chip color="warning">
    <ion-label>Monumentos 🗽</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-label>Fiesta 💃</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Museos 🗿</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Helado 🍦</ion-label>
  </ion-chip>

  <ion-chip color="warning">
    <ion-label>Cerveza 🍺</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-label>Zoológicos 🐘</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Turismo médico 💊</ion-label>
  </ion-chip>

  <ion-chip color="warning">
    <ion-label>Mariscos 🦞</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-label>Ballenas 🐳</ion-label>
  </ion-chip>
  
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/dias"> 
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
