.texto {
    padding-top: 40px;
    padding-bottom: 90px;
    padding-left: 40px;
    text-align:start;
    font-size: 18px;
    font-family: sans-serif;
}

ion-input {
    --placeholder-color: white;
    font-size: 80px;
    text-align: center;
}

.options {
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    width: 250px;
    height: 250px;
}

ion-chip {
    height: 50px;
}